body{
	overflow-x: hidden;
}

.navbar {
	text-transform: uppercase;
	font-weight: 600;
	font-size: .8rem;
	letter-spacing: .1rem;
}

.navbar-nav li{
	padding-right: .9rem;
}

.home-inner{
	background-image: url(images/ava.jpeg);
}

.caption{
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 70%;
	z-index: 1;
	color: white;
	text-transform: uppercase;
}

.caption h1{
	letter-spacing: .1rem;
	font-size: 4rem;
	padding-bottom: 0.3rem;
}

.caption h3{
	letter-spacing: .1rem;
	font-size: 2rem;
	padding-bottom: 1.6rem;
}

.btn-lg {
	border-width: medium!important;
	border-radius: 0!important;
	font-weight: 700;
	letter-spacing: .1rem;
}

.narrow{
	width: 75%!important;
	margin: 1.5rem auto!important;
}

.narrow h1{
	padding-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 700;
}

.aboutMe img{
	max-width: 100%;
	height: auto;
}

.aboutMe p{
	padding-top: 8rem; 
	font-weight: 400;
	text-align: left;
}

.heading-underline{
	width: 3rem;
	height: .2rem;
	background-color: black;
	margin: 0 auto 2rem;
}

@media(max-width: 800px){
	.caption{
		top: 60%;
	}
	
	.caption h1{
		font-size: 4rem;
	}

	.caption h3{
		font-size: 2rem;
	}
}

@media(max-width: 633px){
		.caption h1{
		font-size: 2rem;
	}

	.caption h3{
		font-size: 1rem;
	}
}

@media(max-height: 750px){
	.caption{
		top: 60%;
	}
}

@media(max-height: 560px){
	.caption{
		top: 40%;
	}
}

@media(max-width: 1593px){
	.aboutMe p{
	padding-top: 7rem; 
	}
}

@media(max-width: 1500px){
	.aboutMe p{
	padding-top: 4rem; 
	}
}


@media(max-width: 1365px){
	.aboutMe p{
	padding-top: 3rem; 
	}

}

@media(max-width: 1244px){
	.aboutMe p{
	padding-top: 0rem; 
	}
}


.card{
	padding: 0;
	overflow: hidden;
	border-radius: 0!important;
	border-width: medium!important;
}

.btn-sm {
	border-width: medium!important;
	border-radius: 0!important;
	font-weight: 700;
	letter-spacing: .1rem;
}

@media(max-width: 1555px){
	.card{
	width: 15rem!important;
	height: 17rem!important;
	}
}


@media(max-width: 1350px){
	.card{
	width: 13rem!important;
	height: 17rem!important;
	}
}

@media(max-width: 1200px){
	.card{
	width: 18rem!important;
	height: 14rem!important;
	}
}

.skills img{
	width: 50px;
	height: 50px;
}

.skills h6{
	text-transform: uppercase;
	letter-spacing: .1rem;
}

td{
	border: none!important;
}

table{
	table-layout: fixed;
	word-wrap: break-word;
}


#contact h1{
	color: white;
	padding-top: 3rem;
	padding-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 700;
}

#contact .heading-underline{
	background-color: white;
}

.contact-form input{
	border-radius: 0!important;
}

.contact-form textarea{
	border-radius: 0!important;
}

.contact-form a{
	text-transform: uppercase;
}
