body{
	overflow-x: hidden;
}

.navbar {
	background: rgba(0, 0, 0, 0.6)!important;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .8rem;
	letter-spacing: .1rem;
}

.navbar-nav li{
	padding-right: .9rem;
}

.home-inner{
	background-image: url(images/ava.jpeg);
}

.caption{
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 70%;
	z-index: 1;
	color: white;
	text-transform: uppercase;
}

.caption h1{
	letter-spacing: .1rem;
	font-size: 4rem;
	padding-bottom: 0.3rem;
}

.caption h3{
	letter-spacing: .1rem;
	font-size: 2rem;
	padding-bottom: 1.6rem;
}

.btn-lg {
	border-width: medium!important;
	border-radius: 0!important;
	font-weight: 700;
	letter-spacing: .1rem;
}

.narrow{
	width: 75%!important;
	margin: 1.5rem auto!important;
}

.narrow h1{
	padding-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 700;
}

.aboutMe img{
	width: 100%;
}

.aboutMe p{
	padding-top: 5rem; 
	font-weight: 400;
	text-align: left;
}

.heading-underline{
	width: 3rem;
	height: .2rem;
	background-color: black;
	margin: 0 auto 2rem;
}